/* Container styles */
.container {
  margin: 15px; /* Adjust margin as needed */
}

/* Form field styles */
mat-form-field {
  width: calc(100% - 30px);
  padding: 10px;/* Adjust margin between form fields */
  max-width: 380px;
}

/* Button styles */
button {
  margin-right: 10px; /* Adjust margin between buttons */
}

.required {
  color: red; /* Red color */
  margin-left: 5px; /* Adjust the spacing between the asterisk and the form field */
}

