<!-- customer-dashboard.component.html -->

<div class="customer-dashboard-container">
  <nav class="customer-dashboard-nav">
    <ul>
      <li><a routerLink="/customer-dashboard/home">Home</a></li>
      <li><a routerLink="/customer-dashboard/reserve">Reserve</a></li>
      <li><a routerLink="/customer-dashboard/about">About</a></li>
      <li><a routerLink="/customer-dashboard/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="customer-dashboard-body">
    <router-outlet></router-outlet>
  </div>
</div>
