<form [formGroup]="esewaForm" (ngSubmit)="submitMyFormBro()">
  <label for="amount">Amount</label>
  <input type="text" id="amount" formControlName="amount" value="80" class="form" required><br>

  <label for="tax_amount">Tax Amount</label>
  <input type="text" id="tax_amount" formControlName="tax_amount" value="10" class="form" required><br>

  <label for="total_amount">Total Amount</label>
  <input type="text" id="total_amount" formControlName="total_amount" value="100" class="form" required><br>

  <label for="transaction_uuid">Transaction UUID</label>
  <input type="text" id="transaction_uuid" formControlName="transaction_uuid" value="11-200-11" class="form" required><br>

  <label for="product_code">Product Code</label>
  <input type="text" id="product_code" formControlName="product_code" value="EPAYTEST" class="form" required><br>

  <label for="product_service_charge">Product Service Charge</label>
  <input type="text" id="product_service_charge" formControlName="product_service_charge" value="5" class="form" required><br>

  <label for="product_delivery_charge">Product Delivery Charge</label>
  <input type="text" id="product_delivery_charge" formControlName="product_delivery_charge" value="5" class="form" required><br>

  <label for="success_url">Success URL</label>
  <input type="text" id="success_url" formControlName="success_url" value="https://esewa.com.np" class="form" required><br>

  <label for="failure_url">Failure URL</label>
  <input type="text" id="failure_url" formControlName="failure_url" value="https://google.com" class="form" required><br>

  <label for="signed_field_names">Signed Field Names</label>
  <input type="text" id="signed_field_names" formControlName="signed_field_names" value="total_amount,transaction_uuid,product_code" class="form" required><br>

  <label for="signature">Signature</label>
  <input type="text" id="signature" formControlName="signature" value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE=" class="form" required><br>

  <input type="submit" value="Submit">
</form>

<table style="width:50%" align="center">
  <tr>
    <td>Secret Key:</td>
    <td>
      <input type="text" id="secret" name="secret" value="8gBm/:&EnhH.1/q" class="form" required>
    </td>
  </tr>
</table>
