<div>
  <h2 mat-dialog-title>Vehicle Status</h2>
  <div class="mat-dialog-content status-card">
    <div>
      <p class="maintenance-required">Maintenance Required: {{ vehicleInfoResponse.is_maintenance_required ? 'Yes' : 'No' }}</p>
      <p class="clean">Clean: {{ vehicleInfoResponse.is_clean ? 'Yes' : 'No' }}</p>
      <p class="vehicle-usage-time">Vehicle Usage Time (Months): {{ vehicleInfoResponse.vehicle_usage_time_in_months }}</p>
      <p class="tyre-condition">Tyre Condition: {{ vehicleInfoResponse.tired_condition }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
  </div>
</div>
