<div class="signup-container">
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
    <h2>Signup</h2>
    <div class="form-group">
      <label>First Name<span>*</span></label>
      <input type="text" name="firstName" [(ngModel)]="userData.first_name" required>
    </div>
    <div class="form-group">
      <label>Last Name<span>*</span></label>
      <input type="text" name="lastName" [(ngModel)]="userData.last_name" required>
    </div>
    <div class="form-group">
      <label>Email<span>*</span></label>
      <input type="email" name="email" [(ngModel)]="userData.email" required>
    </div>
    <div class="form-group">
      <label>Password<span>*</span></label>
      <input type="password" name="password" [(ngModel)]="userData.password" required>
    </div>
    <div class="form-group">
      <label>Mobile<span>*</span></label>
      <input type="text" name="mobile" [(ngModel)]="userData.mobile" required>
    </div>
    <div class="form-group">
      <label>Is Driver (optional)</label>
      <input type="checkbox" name="isDriver" [(ngModel)]="userData.isDriver">
    </div>
    <a routerLink="/login">Login</a>
    <button type="submit" [disabled]="signupForm.invalid">Submit</button>
  </form>
</div>
