
.signup-container {
  background-color: #eeebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.signup-form {
  background-color: #ffffff; /* White background for the form */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Add border */
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

label > span {
  color: red;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
    display: block;
    width: 100%;
    background-color: #488341;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }

a {
  display: block;
  width: 100%;
  background-color: #4c68af;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
