.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #673ab7;
}

.card {
  width: 450px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the card horizontally */
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

p {
  text-align: center;
  margin-bottom: 2rem;
  color: #777;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.p-error {
  color: #f44336;
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.button-container {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password-link {
  text-align: right;
}

input#email,
input#password,
input#firstName,
input#lastName,
input#mobile,
input#isDriver {
  width: 22rem;
}

.layout-topbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--surface-900);
  font-size: 1.5rem;
  font-weight: 500;
  width: 300px;
  border-radius: 12px;
}

.layout-topbar-logo img {
  height: 5rem;
}

.p-field label span {
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.column {
  flex: 0 0 calc(50% - 0.5rem);
  margin-right: 1rem;
}

.column:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .column {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

.p-field {
  margin-bottom: 0.5rem; /* Add space between each field */
}

