<div class="signup-container">
  <div class="card">
    <a class="layout-topbar-logo">
      <img [src]="'assets/ferrari.png'" alt="logo">
    </a>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>Signup</h2>
      <div class="row">
        <div class="column">
          <div class="p-field">
            <label for="firstName">First Name<span>*</span></label>
            <input id="firstName" type="text" pInputText formControlName="first_name">
            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="p-error">
              <i class="pi pi-exclamation-circle"></i> First Name is required.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="p-field">
            <label for="lastName">Last Name<span>*</span></label>
            <input id="lastName" type="text" pInputText formControlName="last_name">
            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="p-error">
              <i class="pi pi-exclamation-circle"></i> Last Name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="p-field">
            <label for="email">Email<span>*</span></label>
            <input id="email" type="email" pInputText formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="p-error">
              <i class="pi pi-exclamation-circle"></i> Email is required.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="p-field">
            <label for="password">Password<span>*</span></label>
            <input id="password" type="password" pInputText formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="p-error">
              <i class="pi pi-exclamation-circle"></i> Password is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="p-field">
            <label for="mobile">Mobile<span>*</span></label>
            <input id="mobile" type="text" pInputText formControlName="mobile">
            <div *ngIf="mobile?.invalid && (mobile?.dirty || mobile?.touched)" class="p-error">
              <i class="pi pi-exclamation-circle"></i> Mobile is required.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="p-field">
            <label>Is Driver (optional)</label>
            <input type="checkbox" formControlName="is_driver">
          </div>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="signupForm.invalid" class="p-button p-button-success">Submit</button>
        <a routerLink="/login" class="p-button p-button-primary">Login</a>
      </div>
    </form>
  </div>
</div>
