<div class="reservation-list">
  <h2>
    <mat-icon>list_alt</mat-icon>
    Reservation List
  </h2>

  <ng-container *ngIf="reservations && reservations.length > 0; else noReservations">
    <div *ngFor="let reservation of reservations" class="reservation-box">
      <div class="field">
        <mat-icon>directions_car</mat-icon>
        <label>Vehicle ID:</label>
        <span>{{ reservation.vehicle_id }}</span>
      </div>
      <div class="field">
        <mat-icon>date_range</mat-icon>
        <label>From:</label>
        <span>{{ reservation.from }}</span>
      </div>
      <div class="field">
        <mat-icon>place</mat-icon>
        <label>Destination:</label> <span>{{ reservation.destination }}</span>
      </div>
      <div class="field">
        <mat-icon>people</mat-icon>
        <label>No. of Passengers:</label>
        <span>{{ reservation.no_of_passengers }}</span>
      </div>
      <div class="field">
        <mat-icon>attach_money</mat-icon>
        <label>Request Amount:</label>
        <span>{{ reservation.request_amount }}</span>
      </div>
      <div class="field">
        <mat-icon>assignment_turned_in</mat-icon>
        <label>Reservation Status:</label>
        <span [ngClass]="{
          'CANCELLED': (reservation.reservation_status === 'CANCELLED'),
          'CONFIRMED': (reservation.reservation_status === 'CONFIRMED'),
          'COMPLETED': (reservation.reservation_status === 'COMPLETED')
        }">{{ reservation.reservation_status }}</span>
      </div>
    </div>
  </ng-container>

  <ng-template #noReservations>
    <div class="no-reservations-message">
      No reservations found of any users.
    </div>
  </ng-template>
</div>
