<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>VRS System</span>
    <span class="example-spacer"></span>
    <button routerLink="/home" mat-icon-button aria-label="Home" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button routerLink="/users" mat-icon-button aria-label="Vehicles" matTooltip="Vehicles">
      <mat-icon>people</mat-icon>
    </button>
    <button (click)="openContactFormDialog()" mat-icon-button aria-label="Contact" matTooltip="Contact">
      <mat-icon>mail</mat-icon>
    </button>
    <button routerLink="/users-reservation" mat-icon-button aria-label="Reservation List" matTooltip="Reservation List">
      <mat-icon>list</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button aria-label="Logout" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <a href="https://www.youtube.com" mat-raised-button color="accent">
      Join Us
    </a>
    <button (click)="badgevisibility()" mat-icon-button aria-label="Notifications" matTooltip="Notifications">
      <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">
        notifications
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
      <mat-nav-list>
        <mat-list-item>
          <button routerLink="card" mat-icon-button aria-label="Dashboard">
            <mat-icon>dashboard</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-icon-button aria-label="Home">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="slider" mat-icon-button aria-label="Explore">
            <mat-icon>explore</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="table" mat-icon-button aria-label="Table Chart">
            <mat-icon>table_chart</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button aria-label="Settings">
            <mat-icon>settings</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="queries" mat-icon-button aria-label="Help">
            <mat-icon>message</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/reporting" mat-icon-button aria-label="Analytics">
            <mat-icon>analytics</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
