.reservation-list {
  margin-top: 20px;
}

.reservation-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  font-weight: bold;
  margin-right: 10px;
}

.field span {
  color: #333;
}

.accept-button, .reject-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.accept-button {
  background-color: #4caf50;
  color: #fff;
}

.reject-button {
  background-color: #f44336;
  color: #fff;
}

.accept-button[disabled], .reject-button[disabled] {
  background-color: #ccc; /* Change color to a disabled state */
  color: #999; /* Change text color to a lighter shade */
  cursor: not-allowed; /* Change cursor to not-allowed */
}
