<div class="reservation-list">
  <h2>
    <mat-icon>list_alt</mat-icon>
    Reservation List
  </h2>

  <ng-container *ngIf="reservations && reservations.length > 0; else noReservations">
    <div *ngFor="let reservation of reservations" class="reservation-box">
      <div class="field">
        <mat-icon>directions_car</mat-icon>
        <label>Vehicle No:</label>
        <span>{{ reservation.vehicle_no }}</span>
      </div>
      <div class="field">
        <mat-icon>place</mat-icon>
        <label>Pick up:</label>
        <span>{{ reservation.from }}</span>
      </div>
      <div class="field">
        <mat-icon>place</mat-icon>
        <label>Destination:</label>
        <span>{{ reservation.destination }}</span>
      </div>
      <div class="field">
        <mat-icon>people</mat-icon>
        <label>No. of Passengers:</label>
        <span>{{ reservation.no_of_passengers }}</span>
      </div>
      <div class="field">
        <mat-icon>attach_money</mat-icon>
        <label>Request Amount:</label>
        <span>Rs:{{ reservation.request_amount }}</span>
      </div>
      <div class="field">
        <mat-icon>assignment_turned_in</mat-icon>
        <label>Reservation Status:</label>
        <span [ngStyle]="{ 'color': getColorForStatus(reservation.reservation_status)}">{{ reservation.reservation_status }}</span>

      </div>
      <div class="field">
        <button mat-button color="warn" (click)="cancelReservation(reservation)" class="reject-button" [disabled]="isButtonDisabled(reservation.reservation_status)">Cancel</button>
        <button mat-button class="mat-button-green" (click)="submit(reservation.request_amount, reservation.booking_no)"  [disabled]="isPaymentEnabled(reservation.reservation_status) ||reservation.payment_id!=null">PAY VIA ESEWA</button>
      </div>
    </div>
  </ng-container>

  <ng-template #noReservations>
    <div class="no-reservations-message">
      No reservations found. Please reserve a vehicle to see the reservation list.
    </div>
  </ng-template>
</div>
