<div class="reservation-list">
  <h2>Reservation List</h2>
  <div *ngFor="let reservation of reservations" class="reservation-box">
    <div class="field">
      <label>Vehicle ID:</label>
      <span>{{ reservation.vehicle_id }}</span>
    </div>
    <div class="field">
      <label>Destination:</label>
      <span>{{ reservation.destination }}</span>
    </div>
    <div class="field">
      <label>From:</label>
      <span>{{ reservation.from }}</span>
    </div>
    <div class="field">
      <label>No. of Passengers:</label>
      <span>{{ reservation.no_of_passengers }}</span>
    </div>
    <div class="field">
      <label>Initiated By:</label>
      <span>{{ reservation.initiated_by }}</span>
    </div>
    <div class="field">
      <label>Payment ID:</label>
      <span>{{ reservation.payment_id }}</span>
    </div>
    <div class="field">
      <label>Reservation Status:</label>
      <span>{{ reservation.reservation_status }}</span>
    </div>
  </div>
</div>
