<div class="reservation-list">
  <h2>
    <mat-icon>list_alt</mat-icon>
    Reservation Request
  </h2>

  <ng-container *ngIf="reservations.length > 0; else noReservations">
    <div *ngFor="let reservation of reservations" class="reservation-box">
      <div class="field">
        <mat-icon>directions_car</mat-icon>
        <label>Vehicle NO:</label>
        <span>{{ reservation.vehicle_no}}</span>
      </div>
      <div class="field">
        <mat-icon>place</mat-icon>
        <label>Pick up:</label>
        <span>{{ reservation.from }}</span>
      </div>
      <div class="field">
        <mat-icon>place</mat-icon>
        <label>Destination:</label>
        <span>{{ reservation.destination }}</span>
      </div>

      <div class="field">
        <mat-icon>people</mat-icon>
        <label>No. of Passengers:</label>
        <span>{{ reservation.no_of_passengers }}</span>
      </div>
      <div class="field">
        <mat-icon>person</mat-icon>
        <label>Initiated By:</label>
        <span>{{ reservation.initiated_by }}</span>
      </div>

      <div class="field">
        <mat-icon>attach_money</mat-icon>
        <label>Request Amount:</label>
        <span>Rs:{{ reservation.request_amount }}</span>
      </div>
      <div class="field">
        <mat-icon>assignment</mat-icon>
        <label>Reservation Status:</label>
        <span [ngStyle]="{ 'color': getColorForStatus(reservation.reservation_status)}">{{reservation.reservation_status}}</span>
      </div>
      <div class="field">
        <button mat-button color="warn" (click)="rejectReservation(reservation.booking_no)" class="reject-button" [disabled]="isButtonDisabled(reservation.reservation_status)">Cancel</button>
        <button mat-button color="success" (click)="acceptReservation( reservation.booking_no)" class="accept-button" [disabled]="isButtonDisabled(reservation.reservation_status)">Accept</button>
      </div>
    </div>
  </ng-container>

  <ng-template #noReservations>
    <div class="no-reservations-message">
      No reservations Request Found.
    </div>
  </ng-template>
</div>
