<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Toggle Drawer" matTooltip="Toggle Drawer">
      <mat-icon>menu</mat-icon>
    </button>

    <button routerLink="/home" mat-button aria-label="Home" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>

    <button routerLink="/vehicle" mat-button aria-label="Vehicles" matTooltip="Vehicles">
      <mat-icon>directions_car</mat-icon>
    </button>

    <button (click)="openAddVehicleDialog()" mat-button aria-label="Add Vehicle" matTooltip="Add Vehicle">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button routerLink="/contact" mat-button aria-label="Contact" matTooltip="Contact">
      <mat-icon>mail</mat-icon>
    </button>
    <button routerLink="/reservation-request" mat-icon-button aria-label="Reservation List" matTooltip="Reservation List">
      <mat-icon>list</mat-icon>
    </button>
    <button (click)="logout()" mat-button aria-label="Logout" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <a href="https://www.youtube.com/channel/UCsbmVmB_or8sVLLEq4XhE_A/join" mat-raised-button color="accent" aria-label="Join Us" matTooltip="Join Us">
      Join Us
    </a>

    <button (click)="badgevisibility()" mat-icon-button aria-label="Notifications" matTooltip="Notifications">
      <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>

  </mat-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
      <mat-nav-list>
        <mat-list-item>
          <button routerLink="card" mat-button>
            <mat-icon>dashboard</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button>
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="slider" mat-button>
            <mat-icon>explore</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="table" mat-button>
            <mat-icon>table_chart</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/about" mat-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/contact" mat-button>
            <mat-icon>mail</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>settings</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>help</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>analytics</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
