.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #673ab7; /* Background color for the entire container */
}

  .card {
    margin-top: 2rem;
    width: 450px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .layout-topbar-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--surface-900);
      font-size: 1.5rem;
      font-weight: 500;
      width: 300px;
      border-radius: 12px;

      img {
        height: 5rem;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      color: #333;

      .pi {
        margin-right: 0.5rem;
      }
    }

    p {
      text-align: center;
      margin-bottom: 2rem;
      color: #777;
    }

    label {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      .pi {
        margin-right: 0.5rem;
      }
    }

    .p-error {
      color: #f44336;
      margin-top: 0.2rem;
      font-size: 0.9rem;

      .pi {
        margin-right: 0.2rem;
      }
    }

    .button-container {
      margin-top: 1rem;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .forgot-password-link {
      text-align: right;
    }

  }


input#email {
  width: 22rem;
}

input#password {
  width: 22rem;
}

.layout-topbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--surface-900);
  font-size: 1.5rem;
  font-weight: 500;
  width: 300px;
  border-radius: 12px;

  img {
    height: 5rem;
  }
}

h2.login-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  position: absolute; /* Position the title */
  top: 150px; /* Adjust the top position as needed */
}



